<div
  #region
  class="alert danger error-summary"
  role="group"
  tabindex="-1"
  [attr.aria-labelledby]="titleId"
>
  <ovyx-icon name="alert" [size]="18" />
  <div class="grow">
    <b [id]="titleId">{{ heading() }}</b>
    <ul>
      @for (error of errors(); track $index) {
        <li>
          @if (linkable(error); as field) {
            <a [href]="'#' + field" (click)="goTo($event, field)">{{ error.message }}</a>
          } @else {
            {{ error.message }}
          }
        </li>
      }
    </ul>
  </div>
</div>
